<!-- includes/article_meta.html -->
            On <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
            in <em><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></em>,
            by <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
            {%- if article.tags %}
              — Tags:
              {%- for tag in article.tags %}
              <span class="tag"><a rel="tag" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></span>{% if not loop.last %}, {% endif %}
              {% endfor -%}
            {% endif -%}
            {%- if article.translations %}
              — Translations:
              <strong><a href="{{ SITEURL }}/{{ article.url }}">{{ article.lang or DEFAULT_LANG }}</a></strong>
              {%- for translation in article.translations -%}
              , <a href="{{ SITEURL }}/{{ translation.url }}">{{ translation.lang }}</a>
              {% endfor -%}
             {% endif -%}
