{% extends "base.html" %}

{% block title %}{{ super() }} — {{ page.title }}{% endblock title %}

{% block extra_headers %}
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/static/css/page-{{ page.slug }}.css" />
{% endblock extra_headers %}

{%- block content %}
    <div id="page-{{ page.slug }}">
      <header class="page-header">
        <h1>
          <a rel="bookmark"
             href="{{ SITEURL }}/{{ page.url }}"
             title="Lien permanent vers «{{ page.title }}»">
            {{ page.title }}
          </a>
        </h1>
        <div class="meta">
          {% include "includes/page_meta.html" %}
        </div>
      </header>

      <div class="post-content">
          {{ page.content }}
      </div>

      <!--
      <footer class="page-footer">
        <div class="meta">
          {% include "includes/page_meta.html" %}
        </div>
      </footer>
        -->
    </div>
{% endblock content -%}
